body{
    background-color:#95AFBF;
    margin: 0;
}

ul{
    list-style: none;
}

.header{
    background-color: #D8E8F2;
}

.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 50px;
}

.header-list-item{
    margin: 0  20px;
}

.header-list-item > a{
    color: black;
    text-decoration: none;
    margin: 30px;
}

.main-info-container{
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.main-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info-item{
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px 0px;
}

.info-item > img{
    width: 100%;
    aspect-ratio: 1/1;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.info-item > h3{
    margin: 10px auto;
    height: 64px;
    text-align: center;
}

.info-item > h2{
    text-align: center;
    background-color: red;
}
.info-item > span{
    display: flex;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
}

.info-item > span > input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #444;
    font-size: 4vh; 
    outline: none;
    width: 30%;
    margin: 10px;
}

.info-item > button{
    margin: 15px;
    font-size: 2vh;
    background-color:#32c539;
    border: 0.5px solid black;
}